.settings/
.pydevproject
.project

redhat-support-lib-python*.tar.gz
src/redhat-support-tool
srt/redhat_support_lib_python.egg-info
build
dist

tmp.*
*.pyc
*.pyo
*~
*.lock
*.DS_Store
*.swp
*.out
.idea:1
